.imi{
background-image: url("../../../assets/imagenes/fondo7.jpg"); position:absolute; z-index:1; width:100%; height:100%;background-repeat: no-repeat; background-size:100%}


.box{ margin-left: 500px; margin-top: 100px; padding:30px 50px 40px 50px;width:150%;background:#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:500px;border:2px; border-style: solid; border-color: #4C0B5F; }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.img-fluid{
  width: 100%;
}

.size{
  font-style: italic;
}

.align-middle{
  align-content: center;
}

.btn{
  font-style: italic;
}

.publicar{
  color:white;
  background-color: #4C0B5F;
}

.h3{
  color: #4C0B5F;
  font-style: bold;
}

