<app-toolbar></app-toolbar>

<body class='background'>

<div class='center' class='col-4 offset-4'>
  <mat-form-field class="example-full-width">
    <h3>Section</h3>
    <input matInput placeholder= ""   value="Write post section"  class='btn'>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <h3>Title</h3>
    <input matInput placeholder ="" value="Write post title" class='btn'>
  </mat-form-field>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle>M</mat-button-toggle>
  <mat-button-toggle>T</mat-button-toggle>
  <mat-button-toggle>A</mat-button-toggle>
</mat-button-toggle-group>

<div>
  <mat-button-toggle-group class='btn' class='size'>
    <mat-button-toggle>Insert post</mat-button-toggle>
  </mat-button-toggle-group>
  </div>

<div class='col-4 offset-4'>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle>Publish!</mat-button-toggle>
</mat-button-toggle-group>
</div>
</div>

</body>

