
.background{
  background-color:white;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.img-fluid{
  width: 100%;
}

.size{
  font-style: italic;
}

.center{
  align-self: auto;
}

.align-middle{
  align-content: center;
}

.btn{
  font-style: italic;
}

.publicar{
  color:white;
  background-color: #4C0B5F;
}

.h3{
  color: #4C0B5F;
  font-style: bold;
}
