<div class='background'>
<app-toolbar></app-toolbar>


<div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar src="../../../assets/imagenes/prerfil1.jpeg" class="example-header-image2"></div>
    <mat-card-title>Cine </mat-card-title>
    <mat-card-subtitle>Detalles...</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/meme7.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class='col-9 offset-8 '>
      <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
<button mat-button  id="share-buttons">
    <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
  </a>
  <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
</a>
<a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
  <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
</a>
</button>
</div>
  </mat-card-actions>
</mat-card>
</div>

<div class='center' class='col-4 offset-4'>
    <mat-form-field class="example-full-width">
      <h3 class="h3">Comentarios</h3>
      <input matInput placeholder= ""   value="John Doe"  class='btn'>
    </mat-form-field>

  <div>



  </div>

  <textarea rows="4" cols="50">
    Escribe aquí tu comentario!
    </textarea>
    <div class='col-12 offset-10'>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="publicar">Publicar!</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  <p>
    </p>

    <div class="example-container">
        <h3 class="h3">Otros fandorianos comentan...</h3>

        <div class="container">
            <img src= "../../assets/imagenes/perfil3.jpg" alt="Avatar" style="width:90px">
            <p><span>Capitán Deadpool</span> </p>
            <p>Por su pesto</p>
          </div>

                <div class="container">
                  <img src= "../../assets/imagenes/img002.jpg" alt="Avatar" style="width:90px">
                  <p><span>Green</span>
                  <p>¿Si me cambio el nombre a "blue", pasarías a llamarme verdecito?</p>
                </div>

                <div class="container">
                  <img src= "../../assets/imagenes/perfil3.jpg" alt="Avatar" style="width:90px">
                  <p><span>Capitán Deadpool</span> </p>
                  <p>¿Qué tal vas azulito?</p>
                </div>

                <div class="container">
                  <img src= "../../assets/imagenes/img002.jpg" alt="Avatar" style="width:90px">
                  <p><span>Green</span></p>
                  <p>Normal, el cine está sin ideas desde hace años</p>
                </div>

                <div class="container">
                    <img src= "../../assets/imagenes/perfil3.jpg" alt="Avatar" style="width:90px">
                    <p><span>Capitán Deadpool</span> </p>
                    <p>Nunca, su padre es un robanombres...</p>
                  </div>

                <div class="container">
                  <img src= "../../assets/imagenes/perfil1.jpeg" alt="Avatar" style="width:90px">
                  <p><span>Jonh Doe</span> </p>
                  <p>Capitán Deadpool, usted podría enseñarle al hijo de Will Smith algún golpe que otro</p>
                </div>


                </div>

