.background{
  background-color:#4C0B5F;
  color: white;
  height: 10%;
  font-size: 500px;
}

.letter{
  font-size: 20px;
}

a:hover {
  background-color: white;
  color:#4C0B5F;
}

.sal{
margin-left: 55%;
font-size: 20px;
}

