
<mat-toolbar class="background">
  <mat-toolbar-row>
  <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../../../assets/imagenes/logo_2.1.png"></button>
    <span class="fill-remaining-space"> </span>
    <span class="align-center"></span>
    <span class=  "spacer"></span>
    <a button mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active" class="letter" >Perfil</a>
    <button mat-button [routerLink]="['/shop']" routerLinkActive="router-link-active" class="letter"  >La caja de <img src="../../../assets/imagenes/logo_2.1.png"></button>
    <button mat-icon-button [matMenuTriggerFor]=""></button>
    <a button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" class="letter" class="sal" >Cerrar sesión</a>

   </mat-toolbar-row>
   </mat-toolbar>


