<app-toolbar></app-toolbar>

<div class='background'>
<div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Videojuegos</mat-card-title>
    <mat-card-subtitle>Una verdad incómoda</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba001.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class='col-4 offset-4'>
          <button class='ml-5' mat-button class= 'border'>LIKE</button>
          <button mat-button class= 'border'>SHARE</button>
          <button class= 'btn'>+</button>
      </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

<div>
<div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Actualidad</mat-card-title>
    <mat-card-subtitle>Nuestro presidente...</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba003.jpeg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class='col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
  </div>
    </mat-card-actions>
</mat-card>
</div>

<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cine</mat-card-title>
    <mat-card-subtitle>El nuevo Joker</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba006.png" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class='col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Actualidad</mat-card-title>
    <mat-card-subtitle>Menuda gentuza</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba005.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class='col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Videojuegos</mat-card-title>
    <mat-card-subtitle>Habla uno que sabe</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba007.jpeg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class = 'col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Series</mat-card-title>
    <mat-card-subtitle>Maldita realidad</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba008.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class = 'col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Actualidad</mat-card-title>
    <mat-card-subtitle>Nuestro portero:</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba009.png" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class = 'col-4 offset-4'>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button class= 'btn'>+</button>
      </div>
  </mat-card-actions>
</mat-card>
</div>
