.example-card {
  max-height: 1000px;
  border-style: solid;
  border-color: #4C0B5F;
}

.example-header-image {
  background-image: url('../../assets/imagenes/img002.jpg');
  background-size: cover;
  border: 4px;
  border-style: solid;
  border-color: #4C0B5F;
}

.background{
  background-color: white;
}

.center{
  display: 'center';
  border-style: solid;
  border-color: #4C0B5F;
}

.btn{
  border-radius: 50%;
  background-color:white;
  color:  #4C0B5F;
  border-style: solid;
  border-color: #4C0B5F;
}

.border{
  border-style: solid;
  border-color: #4C0B5F;
  border: 3px;
  color:  #4C0B5F;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

.video{
  margin-right: 50%;
  margin-left: 25%;
}

.example-header-image2 {
  background-image: url('../../assets/imagenes/perfil1.jpeg');
  background-size: cover;
  border: 4px;
  border-style: solid;
  border-color: #4C0B5F;
}

.example-header-image3 {
  background-image: url('../../assets/imagenes/perfil3.jpg');
  background-size: cover;
  border: 4px;
  border-style: solid;
  border-color: #4C0B5F;
}

.rebelde{
  width: 170%;
}
