.example-card {
  max-height: 1000px;
}

.example-header-image {
  background-image: url('../../assets/imagenes/img002.jpg');
  background-size: cover;
}

.background{
  background-color: white;
}

.center{
  display: 'center';
}

.btn{
  border-radius: 50%;
  background-color:white;
  color: white;
}

