

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-toolbar></app-toolbar>
<div class='background'>
<p>.</p>



<div class = 'col-8 offset-2'>
<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Videojuegos</mat-card-title>
    <mat-card-subtitle>Una verdad incómoda</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba001.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>

      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>


      <div class='col-4 offset-8'>
          <button mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>

            <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
          </a>
            <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
          </a>
              <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
            </a>
      </div>
  </mat-card-actions>
</mat-card>
</div>

<hr>

<div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2">
    </div>
    <mat-card-title>Actualidad</mat-card-title>
    <mat-card-subtitle>Nuestro presidente...</mat-card-subtitle>
  </mat-card-header>


  <img mat-card-image src="../../../assets/imagenes/prueba003.jpeg" alt="Meme">

    <mat-card-content>

    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>

      <div class='col-4 offset-8 '>
          <button mat-button class= 'border' onclick="Function(this)" class="fa fa-thumbs-up"></button>

          <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
  </div>
    </mat-card-actions>

</mat-card>

</div>

<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cine</mat-card-title>
    <mat-card-subtitle>El nuevo Joker</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba006.png" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>

      <div class='col-9 offset-8 '>
          <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
    <button mat-button  id="share-buttons">
        <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
    </button>
  </div>
    </mat-card-actions>
</mat-card>
</div>

<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Actualidad</mat-card-title>
    <mat-card-subtitle>Menuda gentuza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/imagenes/prueba005.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
</button>
      <div class='col-9 offset-8 '>
          <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
    <button mat-button  id="share-buttons">
        <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
    </button>
  </div>
    </mat-card-actions>
</mat-card>
</div>


<hr>

<div>
    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Videojuegos</mat-card-title>
    <mat-card-subtitle>Habla uno que sabe</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba007.jpeg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>

      <div class='col-9 offset-8 '>
          <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
    <button mat-button  id="share-buttons">
        <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
    </button>
  </div>
    </mat-card-actions>
</mat-card>
</div>


<hr>

    <div class = 'col-8 offset-2'>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Series</mat-card-title>
    <mat-card-subtitle>Maldita realidad</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="../../../assets/imagenes/prueba008.jpg" alt="Meme">
  <mat-card-content>
    <p>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>
      <div class='col-9 offset-8 '>


          <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
    <button mat-button  id="share-buttons">
        <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
    </button>
  </div>
    </mat-card-actions>
</mat-card>
</div>


<hr>

    <div class = 'col-8 offset-2'>

<mat-card class="example-card">

  <mat-card-header>

    <div mat-card-avatar class="example-header-image3">

    </div>

    <mat-card-title>Cine</mat-card-title>
    <mat-card-subtitle>¿Habéis visto el nuevo corto de Star Wars?</mat-card-subtitle>

  </mat-card-header>



  <img mat-card> <video width="400" controls class="video">

    <source src="../../../assets/imagenes/starwars.mp4" type="video/mp4">

  </video>

  <mat-card-content>

    <p>

    </p>
  </mat-card-content>
  <mat-card-actions>
      <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
      </button>
      <div class='col-8 offset-8 '>
          <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
    <button mat-button  id="share-buttons">
        <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
  </a>
    </button>
  </div>
    </mat-card-actions>
</mat-card>

</div>


<hr>

<div class = 'col-8 offset-2'>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Series</mat-card-title>
      <mat-card-subtitle>Si esto fueran los 7 reinos</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../../../assets/imagenes/meme8.jpg" alt="Meme">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
        </button>

     <div class='col-9 offset-8 '>

            <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
      <button mat-button  id="share-buttons">
          <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
      </a>
      <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
      </button>
    </div>
      </mat-card-actions>
  </mat-card>
  </div>

  <hr>


  <div class = 'col-8 offset-2'>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Cine</mat-card-title>
        <mat-card-subtitle>Detalles...</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/imagenes/meme7.jpg" alt="Meme">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
          </button>

       <div class='col-9 offset-8 '>
              <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>
        <button mat-button  id="share-buttons">
            <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
          </a>
          <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
      </a>
        </button>
      </div>
        </mat-card-actions>
    </mat-card>
    </div>

    <hr>

    <div class = 'col-8 offset-2'>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Actualidad</mat-card-title>
          <mat-card-subtitle>Nuestro portero:</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/prueba009.png" alt="Meme">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button onclick="myFunction()" a mat-button mat-raised-button [routerLink]="['/user']" routerLinkActive="router-link-active" class="bttn">Comentarios
            </button>

         <div class='col-9 offset-8 '>
                <button class='ml-5' mat-button class= 'border' onclick="myFunction(this)" class="fa fa-thumbs-up"></button>

          <button mat-button  id="share-buttons">
              <a href="https://twitter.com/share?url=https://fandora.com&amp;text=Fandora mola fandora es genial fandora;hashtags=fandora" target="_blank">
                <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            </a>
            <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
          </a>
          <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
        </a>
          </button>
        </div>
          </mat-card-actions>
      </mat-card>
      </div>


      <hr>


