
 html,
 body,
 header,
 .carousel {
   height: 60vh;
 }

 @media (max-width: 740px) {
   html,
   body,
   header,
   .carousel {
     height: 100vh;
   }
 }

 @media (min-width: 800px) and (max-width: 850px) {
   html,
   body,
   header,
   .carousel {
     height: 100vh;
   }
 }
.view,body,html{height:100%}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}

.colore{
  background: #eee;
  color: #4C0B5F;
  font-style: bold;
}

.fando{
  background-color:#4C0B5F;
  color: white;
}

.hover{
  cursor: pointer;
  transform: scale(1.1);
  opacity: 30;
}

.dark-grey-text{
  color:#4C0B5F;
}

.namet{
  color: #4C0B5F;
  font-weight: bold;
}

.name{
  color: #4C0B5F;
  }

.names{
color: #4C0B5F;
font-size: 25px;
}



.card{
  height: 525px;
  width: 330px;
  background-repeat: no-repeat;
}

.container{
  height: auto !important;
  width: 100% !important;
}

@supports(object-fit: cover){
  .box img{
    object-fit: cover;
    object-position: center center;
  }
}
