<app-toolbar></app-toolbar>


<main>
<div class="container" class="col-10 offset-1">


<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">


  <button mat-button [matMenuTriggerFor]="menu" class="names">¡Consulta nuestros artículos fandorianos!</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Camisetas Fandora</button>
    <button mat-menu-item>Sudaderas Fandora</button>
    <button mat-menu-item>Posters Fandora</button>
    <button mat-menu-item>Cajas Misteriosas desde Fandora</button>
  </mat-menu>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">



    <form class="form-inline">
      <div class="md-form my-0">

      </div>
    </form>
  </div>


</nav>



<section class="text-center mb-4">


  <div class="row wow fadeIn">


    <div class="col-lg-3 col-md-8 mb-6">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/poster01.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>

        <div class="card-body text-center" a mat-button mat-raised-button [routerLink]="['/genpost']" routerLinkActive="router-link-active"  onclick="addClothe(120,'Denim shirt')" class="hover">

          <a href="" class="grey-text">
            <h5 class="name">Poster</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera1.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Camiseta</h5>
          </a>
          <h5 class="name">
            <strong>
              <a href="" class="dark-grey-text">Orgullo sin prejuicios</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa1.jpg" class="card-img-top" alt="" >
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Caja misteriosa</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text" class="name">Misterios en Fandora
                <span class="badge badge-pill primary-color">bestseller fandora</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">

      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta1.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>


        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Sudadera</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Verdades</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>


      </div>


    </div>


  </div>

  <div class="row wow fadeIn">

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Shirt</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Camiseta
                <span class="badge badge-pill danger-color">The Dude</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera2.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="name">Sudadera</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">El tío Jack</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster03.jpg" class="card-img-top" alt="" height=350px;>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="name">Poster</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Un lugar para perderse
                <span class="badge badge-pill primary-color"></span>
              </a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>

        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="name">Caja misteriosa</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">¿Qué misterios habrá?</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>
        </div>
      </div>

    </div>
  </div>
  <div class="row wow fadeIn">


    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/sudadera4.jpg" class= "sizeImage" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>

        <div class="card-body text-center" a mat-button mat-raised-button [routerLink]="['/genpost']" routerLinkActive="router-link-active"  onclick="addClothe(120,'Denim shirt')" class="hover">

          <a href="" class="grey-text">
            <h5 class="name">Poster</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster04.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Camiseta</h5>
          </a>
          <h5 class="name">
            <strong>
              <a href="" class="dark-grey-text">Orgullo sin prejuicios</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa5.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Caja misteriosa</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text" class="name">Misterios en Fandora
                <span class="badge badge-pill primary-color">bestseller fandora</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">

      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta5.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>


        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Sudadera</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Verdades</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>


      </div>


    </div>


  </div>
  <div class="row wow fadeIn">


    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/poster05.jpg" class= "sizeImage" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>

        <div class="card-body text-center" a mat-button mat-raised-button [routerLink]="['/genpost']" routerLinkActive="router-link-active"  onclick="addClothe(120,'Denim shirt')" class="hover">

          <a href="" class="grey-text">
            <h5 class="name">Poster</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa2.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Camiseta</h5>
          </a>
          <h5 class="name">
            <strong>
              <a href="" class="dark-grey-text">Orgullo sin prejuicios</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster02.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Caja misteriosa</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text" class="name">Misterios en Fandora
                <span class="badge badge-pill primary-color">bestseller fandora</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">

      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>


        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Sudadera</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Verdades</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>


      </div>


    </div>


  </div>
  <div class="row wow fadeIn">


    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/camiseta4.jpg" class= "sizeImage" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>

        <div class="card-body text-center" a mat-button mat-raised-button [routerLink]="['/genpost']" routerLinkActive="router-link-active"  onclick="addClothe(120,'Denim shirt')" class="hover">

          <a href="" class="grey-text">
            <h5 class="name">Poster</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa4.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Camiseta</h5>
          </a>
          <h5 class="name">
            <strong>
              <a href="" class="dark-grey-text">Orgullo sin prejuicios</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">


      <div class="card">

        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/tiendaropa2.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>

        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Caja misteriosa</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text" class="name">Misterios en Fandora
                <span class="badge badge-pill primary-color">bestseller fandora</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </div>


      </div>


    </div>

    <div class="col-lg-3 col-md-6 mb-4">

      <div class="card">


        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/tiendaropa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>


        <div class="card-body text-center">

          <a href="" class="grey-text">
            <h5 class="name">Sudadera</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Verdades</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </div>


      </div>


    </div>


  </div>
</section>
<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">




