<app-toolbar></app-toolbar>

<div class="container" class="col-10 offset-1">
<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
  <button mat-button [matMenuTriggerFor]="menu" class="names">¡Consulta nuestros artículos fandorianos!</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Camisetas Fandora</button>
    <button mat-menu-item>Sudaderas Fandora</button>
    <button mat-menu-item>Posters Fandora</button>
    <button mat-menu-item>Cajas Misteriosas desde Fandora</button>
  </mat-menu>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<section class="text-center mb-4">


  <div class="row wow fadeIn">
    <div class="col-lg-3 col-md-8 mb-6">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/poster01.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Póster</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera1.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Sudadera</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">Echando chispas</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>29€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="" >
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text" class="name">¿Qué misterios habrá?
                <span class="badge badge-pill primary-color"></span>
              </a>
            </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>19€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta1.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Camiseta</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Verdades</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>15€</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Camiseta</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Storm Pooper
                <span class="badge badge-pill danger-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>20€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera2.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Sudadera</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">Soy Batman</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>29€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster03.jpg" class="card-img-top" alt="" height=325px;>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Poster</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Un lugar para perderse
                <span class="badge badge-pill primary-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">¿Qué misterios habrá?</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/sudadera4.jpg" class= "sizeImage" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Sudadera</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Selfie en Bespin
                <span class="badge badge-pill danger-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>59€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster04.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Poster</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">Un recuerdo de Fandora</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text" class="name">Misterios en Fandora
                <span class="badge badge-pill primary-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>39€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/camiseta5.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Camiseta</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">The Dude</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>20€</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/poster05.jpg" class= "sizeImage" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Poster</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Regalo para la vista
                <span class="badge badge-pill danger-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com/Mysteries-Ideal-regalo-cualquier-posible/dp/B07P6CPFT2/ref=sr_1_2?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=mystery+box&qid=1570616569&sr=8-2" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">¿Qué misterios habrá?</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/poster02.jpg" class="card-img-top" alt="" height=350px>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Poster</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text" class="name">Amanecer en Fandora
                <span class="badge badge-pill primary-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>5€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/sudadera3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Sudadera</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Burton, Tim Burton</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>29€</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src= "../../../assets/imagenes/camiseta4.jpg" class= "sizeImage" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a></p>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Camiseta</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Di su nombre
                <span class="badge badge-pill danger-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>20€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5 class="name">
              <a href="" class="dark-grey-text">¿Qué misterios habrá?</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>99€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/cajamisteriosa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Caja misteriosa</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text" class="name">Qué misterios habrá?
                <span class="badge badge-pill primary-color"></span>
              </a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>49€</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="view overlay"><p><a href="https://www.amazon.com" target="_blank">
          <img src="../../../assets/imagenes/tiendaropa3.jpg" class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5 class="namet">Sudadera</h5>
          </a>
          <h5>
              <a href="" class="dark-grey-text">Echando chispas</a>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>19€</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>





