.example-card {
  max-height: 900px;
}

.example-header-image {
  background-image: url('../../../assets/imagenes/img002.jpg');
  background-size: cover;
}

.background{
  background-color:#4C0B5F;
}

.center{
  display: 'center';
}


