
html,body{height:90%;margin:0;padding:0;}

.app-header{justify-content:space-between;position:fixed;top:0;left:0;right:0;z-index:2;box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}
.login-wrapper{height:100%; background-image: url("../../../assets/imagenes/fandora.jpg");background-repeat: no-repeat; background-size:100% }
.positronx{text-decoration:none;color:#4C0B5F;}
.box{position:relative;top:0;opacity:1;float:left;width:100%;background:#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:400px; border:2px; border-style: solid; border-color: #4C0B5F;}
.box.back{transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);opacity:.8;z-index:-1;}
.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:10px 50px 50px;}
.login-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background: #4C0B5F;}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.btn-block{color:white}

.title{
  color: #4C0B5F;
  font-style: bold;
}

.example-form{
  width: 100px;
  height: 400px;
}

.button{
  color:#4C0B5F;
  text-align: center;
  margin: 5%;
  cursor: pointer;
  font-style: italic;
  border-style: solid;
  border-color: #4C0B5F;
  border:2px;
}


