<div class='background'>
<app-toolbar></app-toolbar>


<p></p>
    <div class="container">
        <div class="row">
            <div class="col-6">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../../assets/imagenes/perfil1.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text">I am Lorem ipsum dolor sit amet consectetur, adipiscing elit maecenas eleifend duis tellus, tincidunt cras parturient nisi. </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

    <h6 class='color'>Level</h6>
    <div class="col-md-4">
    <div class="progress md-progress" style="height: 20px ; width: 325%" >
        <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">2</div>
    </div>
  </div>

<p>

</p>
    <h6 class='color'>Health</h6>
    <div class="col-md-4">
    <div class="progress md-progress" style="height: 20px ; width: 325%">
        <div class="progress-bar" role="progressbar" style="width: 90%; height: 20px" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
    </div>
  </div>
</div>
<div class="col-5">
    <mat-form-field class="example-full-width">
      <h6 class='color'>Name</h6>
      <input matInput placeholder= ""   value="John Doe"  class='btn'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <h6 class='color'>Location</h6>
      <input matInput placeholder ="" value="Write your location here!" class='btn'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <h6 class='color'>Email</h6>
        <input matInput placeholder= ""   value="Write your email here!"  class='btn'>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <h6 class='color'>Password</h6>
        <input matInput placeholder ="" value="Write your password here!" class='btn'>
      </mat-form-field>
</div>
</div>
</div>


    <div class = 'col-5 offset-2'>
      <h4 class="color">Your posts</h4>
      <p></p>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Actualidad</mat-card-title>
        <mat-card-subtitle>Nuestro presidente...</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/imagenes/prueba003.jpeg" alt="Meme">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
          <div class='col-4 offset-4'>
        <button mat-button></button>
        <button mat-button></button>
        <button class= 'btn'></button>
      </div>
        </mat-card-actions>
    </mat-card>
    </div>

    <div class = 'col-5 offset-2'>
        <h4 class="color"></h4>
        <p></p>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Actualidad</mat-card-title>
          <mat-card-subtitle>Nuestro presidente...</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="../../../assets/imagenes/prueba003.jpeg" alt="Meme">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
            <div class='col-4 offset-4'>
          <button mat-button></button>
          <button mat-button></button>
          <button class= 'btn'></button>
        </div>
          </mat-card-actions>
      </mat-card>
      </div>

      <div class = 'col-5 offset-2'>
          <h4 class="color"></h4>
          <p></p>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Actualidad</mat-card-title>
            <mat-card-subtitle>Nuestro presidente...</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="../../../assets/imagenes/prueba003.jpeg" alt="Meme">
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
              <div class='col-4 offset-4'>
            <button mat-button></button>
            <button mat-button></button>
            <button class= 'btn'></button>
          </div>
            </mat-card-actions>
        </mat-card>
        </div>


</div>

